.form-background {
  background: white;
  border-radius: 10px;
  margin-top: 110px;
  margin-bottom: 110px;
  height: 550px;
  width: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.flex-forms {
  text-align: left;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  padding-top: 70px;
}

.flex-forms input {
  margin-bottom: 25px;
  margin-top: 5px;
  height: 45px;
  width: 350px;
  background-color: #dfe6e9;
  outline: none;
  border: none;
  /* box-shadow: 1px 1px 7.5px rgba(0, 0, 0, 0.15); */
  padding-left: 20px;
  font-size: 15px;
  border-radius: 5px;
}

/* .form-align {
  display: inline-block;
  text-align: left;
} */

.donate-button {
  margin: 5px;
  width: 350px;
  height: 60px;
  background-color: #ff7675;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.form-caption {
  color: #b2bec3;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: left;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b2bec3;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b2bec3;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b2bec3;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b2bec3;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 600;
}