.banner-background {
    /* position: relative; */
    background: linear-gradient(90deg, #c002f0, #75489f);
    height: 800px;
    color: #ffffff;
    width: 100%;
    min-height: 750px;


}

.main-banner {
  width: 100%;
  height: 100%;
  padding: 85px 20px;
  padding-bottom: 200px;
}

/* .banner-background:before {
  z-index: 0;
  content: '';
  position: absolute;
  top: 550px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background: url('../../images/wave.png');
  background-size: cover;
  background-repeat: no-repeat;
  
} */
.column__one-third {
  margin-top: 50px;
  width: 33.33%;
  display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
	/* justify-content: center; */
	/* align-items: center;
	align-content: center; */
}

.column__two-third {
  width: 66.66%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-items: center;
	align-content: center; */
}

.banner-flex {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.banner-caption {
  width: 100%;
  display: inline-block;
  transition: 0.5s;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.donate-button__banner {
  z-index: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 60px;
  background-color: white;
  border: none;
  outline: none;
  color: #75489f;
  transition: 0.5s;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #00cecb47;
}

.info-button__banner {
  z-index: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 60px;
  background-color: #f78989;
  border: none;
  outline: none;
  color: white;
  transition: 0.5s;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #f789893b;
  margin-top: 20px;
}


.iphonex-asset {
  z-index: 0;
  height: 610px;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: bouncePhone 2s ease-in-out infinite;
}

.banner-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 60px;
  color: white;
}

.banner-caption__description-amount {
  /* font-family: 'Source Serif Pro', serif; */
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  /* color: #5d3a7e */
}

.banner-caption__description-amount span {
  font-weight: 600;
  font-size: 20px;
}

#waves path {
  fill: #f6f8fd;
}

.wavy-section {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0);
  background:none;
  overflow: hidden;
}

 #waves {
  position: absolute;
  bottom:130px;
  width: 100%;
} 

/* #waves {
  position: relative;
  bottom: -810px;
  margin-top: -810px;
  width: 100%;
} */
@keyframes bouncePhone {
  0%, 100% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1200px) {
  /* .banner-flex {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    margin-bottom: 20px;
  } */

  .iphonex-asset {
    z-index: 0;
    height: 510px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: bouncePhone 2s ease-in-out infinite;
  }
}


@media (max-width: 1010px) {
  .iphonex-asset {
    height: 410px;
  }
}

@media (max-width: 825px) {
  .banner-flex {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .column__one-third {
    margin-top: 50px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center; 
    align-items: center;
    align-content: center;
  }
  
  .column__two-third {
    width: 66.66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .iphonex-asset {
    height: 410px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .banner-background {
    /* position: relative; */
    background: linear-gradient(90deg, #c002f0, #75489f);
    height: 1200px;
    color: #ffffff;
    width: 100%;
    min-height: 750px;
}
#waves {
  position: absolute;
  bottom:-270px;
  width: 100%;
} 
}


@media (max-width: 550px) {

  .column__one-third {
    margin-top: 50px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center; 
    align-items: center;
    align-content: center;
  }
  
  .column__two-third {
    width: 66.66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .iphonex-asset {
    height: 310px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .banner-background {
    /* position: relative; */
    background: linear-gradient(90deg, #c002f0, #75489f);
    height: 1200px;
    color: #ffffff;
    width: 100%;
    min-height: 750px;
}
.banner-caption__description-amount {
  /* font-family: 'Source Serif Pro', serif; */
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 30px;
  /* color: #5d3a7e */
}

.banner-caption__description-amount span {
  font-weight: 600;
  font-size: 16px;
}
.banner-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 60px;
  color: white;
}
#waves {
  position: absolute;
  bottom:-270px;
  width: 100%;
} 
}

@media (max-width: 500px) {

  .column__one-third {
    width: 90%;
  }
  
  .column__two-third {
    width: 66.66%;
  }

  .iphonex-asset {
    height: 275px;
  }

.banner-caption__description-amount {
  font-weight: 600;
  font-size: 16px;
}

.banner-caption__description-amount span {
  font-weight: 600;
  font-size: 16px;
}
.banner-header {
  font-size: 60px;
  font-weight: 700;
}
#waves {
  position: absolute;
  bottom:-270px;
  width: 100%;
} 
}

@media (max-width: 450px) {

  .column__one-third {
    width: 100%;
  }
  
  .column__two-third {
    width: 100;
  }

  .iphonex-asset {
    height: 275px;
  }

.banner-caption__description-amount {
  font-weight: 600;
  font-size: 16px;
}

.banner-caption__description-amount span {
  font-weight: 600;
  font-size: 16px;
}
.banner-header {
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
}
#waves {
  position: absolute;
  bottom:-270px;
  width: 100%;
} 
}